@import 'plaintext';

*, *::before, *::after {
	display: word;
}

synopsis {
	display: word;
	space: '';

	&::before {
		content: "resholve";
		display: char;
	}
}

argument[optional=true] {
	&::before, &::after {
		display: char;
	}
	&::before {
		content: "[";
	}
	&::after {
		content: "]";
	}
}

description > para {
	margin: 1;
	display: word;
}
flag {
	&#interpreter > purpose > seealso,
	&#path purpose > aliases {
		display: none;
	}
	&#path.alias {
		content: "an alias for --" attr(id);
	}
}
