name: "Test"
on:
  pull_request:
  push:
  schedule:
    # every sunday morning
    - cron: "0 0 * * 0"
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31.6.0
      with:
        nix_path: nixpkgs=channel:nixpkgs-unstable
    - run: nix build .#ci --print-build-logs
    - name: validate core CLI demo
      run: nix-shell --run ./demo
    - name: validate new CLI demo
      run: nix develop --command ./demo
    - name: validate quick-and-dirty flake CLI
      run: nix run .#resholve-with-packages -- tests/parse_sed.sh gnused
  cross-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31.6.0
      with:
        nix_path: nixpkgs=channel:nixpkgs-unstable
    # DOING: figure out how to run the equivalent of this with the development resholve we're using here
    - run: nix flake check --print-build-logs
